<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/post/create" method="post">
    <input type="text" name="post" placeholder="enter post url">
    <input type="text" name="description" placeholder="enter description">
    <button>Create Post</button>
  </form>

</body>

</html>